{% extends "base.twig" %}

{% block content %}

    <header>
        {% include "components/block.twig" with {
            orientation: "landscape-double",
            mobileOrientation: "square",
            color: "grey-dark",
            image: TimberImage(post.meta("header").image)
        } %}
    </header>

    {# HEADER TEXT START #}

    <section class="section" style="margin-top: 2.5rem">
        <div class="row">
            <div class="px-5 w-full lg:w-3/12 lg:ml-1/12 mb-10">
                {% set color = "green" %}
                {% if post.category.slug == "educatieve_programmas" %}
                    {% set color = "pink" %}
                {% elseif post.category.slug == "onderwijsondersteuning" %}
                    {% set color = "brown" %}
                {% elseif post.category.slug == "software" %}
                    {% set color = "blue" %}
                {% endif %}

                <span class="text-xl md:text-3xl text-{{ color }}">{{ post.meta("header").subtitle }}</span><br>
                <span class="text-xl md:text-3xl">{{ post.title }}</span>
            </div>
            <div class="px-5 w-10/12 md:w-8/12 lg:w-5/12 ml-1/12">
                <div class="lg:px-6">
                    {{ post.meta("header").text }}
                </div>
            </div>
        </div>
    </section>

    {# HEADER TEXT END #}

    {# MODULES START #}

    {% for module in post.meta("modules") %}

        {% if module.acf_fc_layout == "text" %}
            {% include "modules/text.twig" with {
                content : module
            } %}
        {% elseif module.acf_fc_layout == "vimeo" %}
            {% include "modules/vimeo.twig" with {
                content : module
            } %}
        {% elseif module.acf_fc_layout == "slider" %}
            {% include "modules/slider.twig" with {
                content : module
            } %}
        {% elseif module.acf_fc_layout == "landscape_image" %}
            {% include "modules/landscape-image.twig" with {
                content: module
            } %}
        {% elseif module.acf_fc_layout == "image_text" %}
            {% include "modules/image-text.twig" with {
                content: module
            } %}
        {% elseif module.acf_fc_layout == "quote" %}
            {% include "modules/quote.twig" with {
                content : module
            } %}
        {% endif %}

    {% endfor %}

    {# MODULES END #}

    {# OTHER PROJECTS #}

    <section class="section">
        <div class="row">
            <div class="w-full lg:w-4/12 lg:ml-1/12 px-5">
                <div class="highlight-wrapper text-2xl lg:text-4xl pb-10" data-color="yellow" data-background="pink">
                    Meer<br>
                    projecten
                </div>
            </div>
        </div>
        <div class="row">
            <div class="px-5 w-10/12 lg:w-5/12 ml-1/12">
                <a href="{{ other_projects[0].link }}">
                {% set color = "green" %}
                {% if other_projects[0].category.slug == "educatieve_programmas" %}
                    {% set color = "pink" %}
                {% elseif other_projects[0].category.slug == "onderwijsondersteuning" %}
                    {% set color = "brown" %}
                {% elseif other_projects[0].category.slug == "software" %}
                    {% set color = "blue" %}
                {% endif %}
                {% include "components/block.twig" with {
                    orientation: "landscape-double",
                    mobileOrientation: "landscape",
                    color: "grey",
                    image: TimberImage(other_projects[0].meta('thumbnail')).src('large')
                } %}
                <div class="mt-2">
                    <span class="text-base md:text-2xl text-{{ color }}">{{ other_projects[0].meta('header').subtitle }}</span><br>
                    <span class="text-base md:text-2xl ext-xl">{{ other_projects[0].title }}</span>
                </div>
                </a>
            </div>

            <div class="px-5 w-10/12 lg:w-5/12 ml-1/12 mt-10 lg:mt-0 lg:ml-0">
                <a href="{{ other_projects[1].link }}">
                {% set color = "green" %}
                {% if other_projects[1].category.slug == "educatieve_programmas" %}
                    {% set color = "purple" %}
                {% elseif other_projects[1].category.slug == "onderwijsondersteuning" %}
                    {% set color = "brown" %}
                {% elseif other_projects[1].category.slug == "software" %}
                    {% set color = "blue" %}
                {% endif %}
                {% include "components/block.twig" with {
                    orientation: "landscape-double",
                    mobileOrientation: "landscape",
                    color: "grey",
                    image: TimberImage(other_projects[1].meta('thumbnail')).src('large')
                } %}
                <div class="mt-2">
                    <span class="text-base md:text-2xl text-{{ color }}">{{ other_projects[1].meta('header').subtitle }}</span><br>
                    <span class="text-base md:text-2xl text-xl">{{ other_projects[1].title }}</span>
                </div>
                </a>
            </div>
        </div>

    </div>
</section>

{% endblock %}
