{% extends "base.twig" %}

{% block content %}

    <header>
        <div class="block-outer">
            <div class="block-inner landscape-triple mobile-square">
                {% set image = theme.link ~ '/assets/Balk_zwart_spikkels.png' %}
                <div class="text-2xl lg:text-4xl content bg-grey flex flex-wrap flex-col justify-center" style="background-image: url({{ image }})">
                    <div class="zen-item cursor-pointer highlight-wrapper mb-2 w-full flex justify-center" data-color="yellow" data-background="green" data-target="workshops">
                        Workshops
                    </div>
                    <div class="zen-item cursor-pointer highlight-wrapper mb-2 w-full flex justify-center" data-color="yellow" data-background="pink" data-target="educatieve-programmas">
                        Educatieve programma's
                    </div>
                    <div class="zen-item cursor-pointer highlight-wrapper mb-2 w-full flex justify-center" data-color="yellow" data-background="brown" data-target="onderwijsondersteuning">
                        Onderwijsondersteuning
                    </div>
                    <div class="zen-item cursor-pointer highlight-wrapper mb-2 w-full flex justify-center" data-color="yellow" data-background="blue" data-target="software">
                        Software
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="workshops" class="section pb-10 pt-20" style="margin-bottom: 0; margin-top: 0;">
        <div class="row">

            <div class="w-full lg:w-3/12 lg:ml-1/12 px-5 ">
                <div class="text-2xl lg:text-4xl highlight-wrapper w-full" data-color="yellow" data-background="green">
                    Workshops
                </div>
            </div>
            <div class="hidden w-7/12 pr-5 lg:flex items-end justify-end">
                <ul class="list-reset flex w-full items-end justify-end">
                    <li class="zen-item cursor-pointer lg:ml-8 xl:ml-12 font-medium text-green border-green border-b-2" data-target="workshops">Workshops</li>
                    <li class="zen-item cursor-pointer lg:ml-8 xl:ml-12 font-medium" data-target="educatieve-programmas">Educatieve programma's</li>
                    <li class="zen-item cursor-pointer lg:ml-8 xl:ml-12 font-medium" data-target="onderwijsondersteuning">Onderwijsondersteuning</li>
                    <li class="zen-item cursor-pointer lg:ml-8 xl:ml-12 font-medium" data-target="software">Software</li>
                </ul>
            </div>

        </div>

        <div class="row">
            <div class="px-5 w-10/12 mx-1/12 lg:mt-10">
                <div class="row">

                    {% for project in projects %}
                        {% if project.category.slug == 'workshops' %}
                            
                            {% set color = 'green' %}
                            <div class="w-full lg:w-6/12 px-5 mt-10">
                                <a href="{{ project.link }}">
                                    {% include "components/block.twig" with {
                                        orientation: 'landscape-double',
                                        mobileOrientation: 'landscape',
                                        image: TimberImage(project.meta('thumbnail')).src('large')
                                    } %}
                                    <div class="text-xl mt-2">
                                        <span class="font-medium text-xl text-{{ color }}">{{ project.meta("header").subtitle }}</span><br>
                                        <span class="font-medium text-xl">{{ project.title }}</span>
                                    </div>
                                </a>
                            </div>

                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>

    <section id="educatieve-programmas" class="section pb-10 pt-20" style="margin-bottom: 0; margin-top: 0;">
        <div class="row">

            <div class="w-full lg:w-3/12 lg:ml-1/12 px-5 ">
                <div class="text-2xl lg:text-4xl highlight-wrapper w-full" data-color="yellow" data-background="pink">
                    Educatieve<br>programma's
                </div>
            </div>
            <div class="hidden w-7/12 pr-5 lg:flex items-end justify-end">
                <ul class="list-reset flex w-full items-end justify-end">
                    <li class="zen-item cursor-pointer lg:ml-8 xl:ml-12 font-medium" data-target="workshops">Workshops</li>
                    <li class="zen-item cursor-pointer lg:ml-8 xl:ml-12 font-medium text-purple border-purple border-b-2" data-target="educatieve-programmas">Educatieve programma's</li>
                    <li class="zen-item cursor-pointer lg:ml-8 xl:ml-12 font-medium" data-target="onderwijsondersteuning">Onderwijsondersteuning</li>
                    <li class="zen-item cursor-pointer lg:ml-8 xl:ml-12 font-medium" data-target="software">Software</li>
                </ul>
            </div>

        </div>

        <div class="row">
            <div class="px-5 w-10/12 mx-1/12 lg:mt-10">
                <div class="row">
                    
                    {% for project in projects %}
                        {% if project.category.slug == 'educatieve-programmas' %}
                            
                            {% set color = 'purple' %}
                            <div class="w-full lg:w-6/12 px-5 mt-10">
                                <a href="{{ project.link }}">
                                    {% include "components/block.twig" with {
                                        orientation: 'landscape-double',
                                        mobileOrientation: 'landscape',
                                        image: TimberImage(project.meta('thumbnail')).src('large')
                                    } %}
                                    <div class="text-xl mt-2">
                                        <span class="font-medium text-xl text-{{ color }}">{{ project.meta("header").subtitle }}</span><br>
                                        <span class="font-medium text-xl">{{ project.title }}</span>
                                    </div>
                                </a>
                            </div>

                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>

    <section id="onderwijsondersteuning" class="section pb-10 pt-20" style="margin-bottom: 0; margin-top: 0;">
        <div class="row">

            <div class="w-full lg:w-3/12 lg:ml-1/12 px-5 ">
                <div class="text-2xl lg:text-4xl highlight-wrapper w-full" data-color="yellow" data-background="brown">
                    Onderwijs-<br>ondersteuning
                </div>
            </div>
            <div class="hidden w-7/12 pr-5 lg:flex items-end justify-end">
                <ul class="list-reset flex w-full items-end justify-end">
                    <li class="zen-item cursor-pointer lg:ml-8 xl:ml-12 font-medium" data-target="workshops">Workshops</li>
                    <li class="zen-item cursor-pointer lg:ml-8 xl:ml-12 font-medium" data-target="educatieve-programmas">Educatieve programma's</li>
                    <li class="zen-item cursor-pointer lg:ml-8 xl:ml-12 font-medium text-brown border-brown border-b-2" data-target="onderwijsondersteuning">Onderwijsondersteuning</li>
                    <li class="zen-item cursor-pointer lg:ml-8 xl:ml-12 font-medium" data-target="software">Software</li>
                </ul>
            </div>

        </div>

        <div class="row">
            <div class="px-5 w-10/12 mx-1/12 lg:mt-10">
                <div class="row">
                    
                    {% for project in projects %}
                        {% if project.category.slug == 'onderwijsondersteuning' %}
                            
                            {% set color = 'brown' %}
                            <div class="w-full lg:w-6/12 px-5 mt-10">
                                <a href="{{ project.link }}">
                                    {% include "components/block.twig" with {
                                        orientation: 'landscape-double',
                                        mobileOrientation: 'landscape',
                                        image: TimberImage(project.meta('thumbnail')).src('large')
                                    } %}
                                    <div class="text-xl mt-2">
                                        <span class="font-medium text-xl text-{{ color }}">{{ project.meta("header").subtitle }}</span><br>
                                        <span class="font-medium text-xl">{{ project.title }}</span>
                                    </div>
                                </a>
                            </div>

                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>

    <section id="software" class="section pb-10 pt-20" style="margin-bottom: 0; margin-top: 0;">
        <div class="row">

            <div class="w-full lg:w-3/12 lg:ml-1/12 px-5 ">
                <div class="text-2xl lg:text-4xl highlight-wrapper w-full" data-color="yellow" data-background="blue">
                    Software
                </div>
            </div>
            <div class="hidden w-7/12 pr-5 lg:flex items-end justify-end">
                <ul class="list-reset flex w-full items-end justify-end">
                    <li class="zen-item cursor-pointer lg:ml-8 xl:ml-12 font-medium" data-target="workshops">Workshops</li>
                    <li class="zen-item cursor-pointer lg:ml-8 xl:ml-12 font-medium" data-target="educatieve-programmas">Educatieve programma's</li>
                    <li class="zen-item cursor-pointer lg:ml-8 xl:ml-12 font-medium" data-target="onderwijsondersteuning">Onderwijsondersteuning</li>
                    <li class="zen-item cursor-pointer lg:ml-8 xl:ml-12 font-medium text-blue border-blue border-b-2" data-target="software">Software</li>
                </ul>
            </div>

        </div>

        <div class="row">
            <div class="px-5 w-10/12 mx-1/12 lg:mt-10">
                <div class="row">
                    
                    {% for project in projects %}
                        {% if project.category.slug == 'software' %}
                            
                            {% set color = 'blue' %}
                            <div class="w-full lg:w-6/12 px-5 mt-10">
                                <a href="{{ project.link }}">
                                    {% include "components/block.twig" with {
                                        orientation: 'landscape-double',
                                        mobileOrientation: 'landscape',
                                        image: TimberImage(project.meta('thumbnail')).src('large')
                                    } %}
                                    <div class="text-xl mt-2">
                                        <span class="font-medium text-xl text-{{ color }}">{{ project.meta("header").subtitle }}</span><br>
                                        <span class="font-medium text-xl">{{ project.title }}</span>
                                    </div>
                                </a>
                            </div>

                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>

    <section class="section relative">
        <div class="row text-xl">
            <div class="px-5 lg:ml-1/12 w-full lg:w-10/12">

                <div class="block-outer">
                    <div class="block-inner landscape-footer mobile-landscape">
                        <div class="content bg-pink flex items-center justify-center" style="background-image: url({{ theme.link }}/assets/Balk_contact_roze.png)">
                        
                            <div class="text-red font-bold flex flex-col items-start justify-center">
                                <p class="text-xl md:text-3xl xl:text-4xl">
                                    {% include "components/highlight.twig" with {
                                        text : page.meta("footer"),
                                        color: "red",
                                        background: "yellow"
                                    } %}
                                </p>
                                <p class="hover-up text-xl md:text-3xl xl:text-4xl">
                                    <a class="text-red" href="mailto:hallo@beamitup.nl">
                                        {% include "components/highlight.twig" with {
                                            text : "hallo@beamitup.nl",
                                            color: "red",
                                            background: "yellow"
                                        } %}
                                    </a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="w-1/12 absolute pin-b pin-r z-50" style="margin-right:5%; margin-bottom: -15% ">
            {% include "components/planet.twig" with {
                image : "blauw_roze_streep"
            } %}
        </div>
    </section>

{% endblock %}
