{% if menu %}
	<ul class="list-reset w-full flex flex-wrap justify-end">
	{% for item in menu %}
		<li class="ml-12 text-lg font-bold {% if (item.slug == page.slug) %}active{% endif %} {{ item.classes | join(' ') }}">
            {# {% if item.title == 'contact' %}
            <span class="zen-item cursor-pointer" data-target="footer">{{ item.title }}</span>
            {% else %}
			<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
            {% endif %} #}
            <a href="{{ item.link }}">{{ item.title }}</a>
		</li>
	{% endfor %}
	</ul>
{% endif %}